button{	
  margin-top: 5px;
}

legend{	
  margin-top: 5px;
  font-size:inherit;
}

.btns ul {
  list-style-type: none;
}

.btns li {
  float: left;
  padding: 2px;
}
#columns li {
  padding-right: 30px;
}